.lightBtn {
  background-color: var(--mainBg);
  color: white;
  display: inline-block;
  padding: 1rem;
  font-weight: 600;
}

.lightBtn:hover {
  background-color: var(--mainBg4);
  color: var(--black);
  transition: 0.2s all ease-in-out;
}

.lightBtn:hover .lightBtnIcon {
  animation: myAnim 0.4s ease 0s 1 normal forwards;
}

.lightBtn > .lightBtnIcon {
  margin-bottom: -0.18rem;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}
